.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    outline: none;
    margin-top: 15px;
}

.editableSpanContainer {
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);*/
    max-width: 270px;
    color: #0080ff;
}