.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 36px;
    font-size: 16px;

}

.span {
     display: inline-block;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
    min-width: 150px; /* чтобы текст не прыгал */
}
.span:hover {
    background-color: #ccc;
}

.input {
     padding: 8px 12px;
    font-size: 16px;
     border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 270px;
    transition: border-color 0.2s ease-in-out;
}

.input:focus {
    border-color: #4caf50; /* зелёный акцент */
}

.pen {
    width: 16px;
    height: 16px;
    background: url('./editIcon.svg') no-repeat center center;
    background-size: contain;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}